/*  [Key]
	CTRL+F to search by section number:
	1.0 Base Element Styles					5.0 Interior Page Styles
	2.0 ezEdit ToolsFile Styles				6.0	LeftNav Item Styles
	3.0 Global/Header/Footer Styles			7.0	TopNav Styles
	4.0 Home Page Styles	
				[#.1 Font Styles | #.2 Layout Styles]

/*	1.0 Base Element Styles-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/*	1.1 [Fonts]  */

body {
	color:#333333;
	font:75% arial, sans-serif;}

h1 {
	color:#003E7E;
	font-size:200%;
	font-weight:normal;}

h2	
	{
	color:#000000;
	font-size:160%;
	font-weight:normal;}

h3	
	{
	color:#003E7E;
	font-size:140%;
	font-weight:bold;}

h4 {
	color:#000000;
	font-size:120%;
	font-weight:bold;}

h5 {
	color:#125FA1;
	font-size:110%;
	font-weight:bold;}

h6 {
	color:#125FA1;
	font-size:100%;
	font-weight:bold;}

p {
	line-height:160%;
	font-size:100%;}
	
ul, ol {
    line-height:160%;}

a {
	color:#D11241;
	text-decoration:underline;}

	a:hover {
		text-decoration:none;}

td {
	font-size:75%;}

#container td, #intContainer td /* ezedit vs. front-end fix */ {
	font-size:100%;}

/*	1.2 [Layout]  */

body {
	height:98%;}
			
h1 	{padding:0px 0px 16px 0px;}
h2 	{padding:0px 0px 10px 0px;}
h3 	{padding:0px 0px 6px 0px;}
h4 	{padding:0px 0px 3px 0px;}
h5 	{padding:0px 0px 3px 0px;}
h6 	{padding:0px 0px 3px 0px;}

p 	{padding:0px 0px 15px 0px;}
	
img {border:0px;}
hr {margin: 0px 0px 15px;}

.clear {clear:both;}
.imgBlock {display:block;}

sup {font-size: 7px;}
sub {font-size: 7px;}

#content ul.VAMValSummaryErrors li {
	background:none;}

/*	2.0 ezEdit ToolsFile Styles-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.emagine-note {
	color:#FF0000;
	font-size:110%;
	font-weight:bold;}
	
.imgRight {
	margin:5px 0px 10px 20px;}
	
	.imgRight_border {
		border: 1px solid #CCCCCC;
		padding:3px;
    	margin: 5px 0px 10px 20px;}
    	
.imgCenter {}
	
	.imgCenter_border {
    	border: 1px solid #CCCCCC;
		padding:3px;}
	
.imgLeft {
	margin:5px 20px 10px 0px;}
	
	.imgLeft_border {
    	border: 1px solid #CCCCCC;
		padding:3px;
   	 	margin: 5px 20px 10px 0px;}

 .tableBorder {
    border: 1px solid #CCCCCC;
	border-bottom:none;}
	
#ctl00_Modules_ctl00_ctl00_gdvSearchResults {
	border: 1px solid #CCCCCC;}
 
.table-header-app, .table-header-app td, .table-header-app th {
	background-color:#003E7E;
	color:#FFFFFF;
	font-size:110%;
	font-weight:bold;
	padding:8px;}

.table-subheader-app {
	background:#999999;
	color:#FFFFFF;
	font-weight:bold;
	padding:8px;}

.table-row {
	padding:8px;
	border-bottom: 1px solid #BBBBBB;}
	
.table-altrow {
	background-color:#EEEEEE;
	padding:8px;
	border-bottom: 1px solid #BBBBBB;}
	
tr.table-row td, tr.table-altrow td {
	padding:8px;}
	
tr.table-altrow td {
	background-color:#eeeeee;}
		
.footnote {font-size:80%;}

/* FOR reference in tools file ONLY */

.table-header-app {}

/*	3.0 Global/Header/Footer Styles-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/*	3.1 [Fonts]  */
    
#utilities {
	color: #999999;
	font-size:80%;}

	#utilities a {
		color:#999999;
		font-weight:bold;
		text-decoration:none;}

		#utilities a:hover {
			text-decoration:underline;}
			
#search label {
    color:#999999;
    font:bold 100% Helvetica, Georgia, Sans-Serif;}

#footer {
	color:#666666;
	font-size:80%;
	text-align:center;}

	#footer a {
		color:#666666;
		text-decoration:none;}

		#footer a:hover {
			text-decoration:underline;}
			
/*	3.2 [Layout]  */

#container {
    clear:both;
    margin:0px auto;
	width:909px;}

	    #header {
		    height:116px;
		    margin:0px auto;		    
		    width:100%;}

		        #logo {
			        float:left;
			        display:inline-block;
			        margin:21px 0px 18px 16px;}
				
		            #utilities {
		                clear:right;
		                display:inline;
		                float:right;
		                margin:42px 15px 0px 0px;}
			
			            #utilities ul {}

			                #utilities ul li {
				                background:url(images/utilities_list.gif) 0px 4px no-repeat;
				                display:inline;
				                padding:0px 0px 7px 7px;}			

		            #topNav {
			            background:url(images/topnav_bg.gif) right 0px no-repeat;
			            clear:both;
			            height:40px;
						margin:0px 0px 0px 4px;
			            width:900px;}
	
			            #topNav img {
				            float:left;
				            display:block;}
				            
				        #search {
				            float:right;
				            margin:9px 0px 0px 0px;
				            width:200px;}
				            
				            #search label {				                
				                float:left;
				                margin:3px 18px 0px 0px;}
				            
				            #search .searchBox {
				                background:url(images/search_bg.gif) 0px 0px no-repeat;
				                border:0px;
				                float:left;
				                height:21px;
				                padding:0px 0px 0px 10px;
				                width:103px;}
				                
				            #search .searchBtn {
				                float:left;}

#footer {
    clear:both;
    padding:38px 0px 30px 0px;
	width:100%;}

	#footer ul {}

		#footer ul li {
			display:inline;
			padding:0px 10px 0px 0px;}

/*	4.0 Home Page Styles-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/*	4.1 [Fonts]  */

#homeMain {
    font-size:90%;}
    
#homeMid h1 {
    border-bottom:1px solid #CCCCCC;
    color:#666666;
    font-size:170%;
    font-weight:normal;
    margin:0px 0px 16px 0px;
    padding:0px 0px 7px 0px;}
    
    #homeMid h1 a {
        color:#666666;
        font-size:70%;
        font-style:italic;
        text-decoration:none;}       
        
        #homeMidB h1 a {margin:0px 0px 0px 91px;}        
        #homeMidC h1 a {margin:0px 0px 0px 85px;}
        
        #homeMid h1 a:hover {
            text-decoration:underline;}
            
            #homeMidB h1 a img {
                display:inline-block;}
                
 #homeMid h2 {
    color:#002663;
    font-size:170%;
    font-weight:normal;
    padding:0px 0px 7px 0px;}
    
#homeMidA p {
    padding:0px 0px 5px 0px;}
    
    #homeMidA a {
        color:#333333;
        font-size:90%;
        font-weight:bold;
        text-decoration:none;}
        
        #homeMidA a:hover {text-decoration:underline;}
        
#homeBottom h1 {
    color:#333333;
    font-size:170%;
    font-weight:normal;
    padding:20px 0px 10px 0px;}
    
#homeBottom h2 {
    color:#333333;
    font-size:150%;
    font-weight:normal;
    padding:0px 0px 5px 0px;}
    
    #homeBottom a {
        color:#C02026;
        font-size:90%;
        font-weight:bold;
        text-decoration:none;}
        
        #homeBottom a:hover {text-decoration:underline;}
    
/*	4.2 [Layout]  */

#homeMain {
	clear:both;
	width:100%;}
			
		#homeFlash {
		    clear:both;
		    height:303px;
		    margin:0px 0px 0px 4px;
		    width:900px;}
		    
		#slideshow {
		    float:right;
		    margin:0px 0px 0px 0px;
		    position:relative;
		    width:100%;}
		        
		    /* container for slides */
		.images {
			position:relative;	
			height:303px;				
			width:100%;}
			
		/* single slide */
		.images div {
			color:#CCCCCC;
			display:none;
			position:absolute;
			top:0;
			left:0;}
			
		/* tabs (those little circles below slides) */
		.slidetabs {
			position:relative;
			float:right;
			margin:-86px 9px 10px 0px;
			width:65px;}
			
		/*  single tab */
		.slidetabs a {
			float:left;
			margin:0px 0px 0px 2px;
			display:block;
			cursor:pointer;
			height:10px;
			text-decoration:none;
			width:8px;}
			
			.slidetabs a.btn {
			    background:url(images/btn_off.png) right 0px no-repeat;}
				
				.slidetabs a.btn.current {
			    background:url(images/btn_over.png) right 0px no-repeat;}
			
			.slidetabs a.btn:hover {
			    background:url(images/btn_over.png) right 0px no-repeat;}
			
		/* mouseover state 
		.slidetabs a:hover {
			background-position:0 -8px;}*/

		/* active state (current page state) */
		.slidetabs a.current {
			background-position:right 0px;}

		/* disabled navigational button. is not needed when tabs are configured with rotate: true */
		.disabled {
			visibility:hidden !important;}
		
		#homeMid {
			clear:both;
			padding:22px 0px 20px 0px;
			width:100%;}
			
			#homeMidA, #homeMidB {
			    float:left;
			    width:261px;}
			    
			#homeMidA {
			    margin:0px 0px 0px 4px;}
			    
			#homeMidB {
			    margin:0px 0px 0px 39px;}
			    
			#homeMidC {
			    float:right;
			    width:293px;}
			    
			    #homeMidC img {margin:0px 0px 0px 0px;}
			    
		#homeBottom {
			border-top:1px solid #CCCCCC;
			clear:both;
			width:100%;}
				
/*	5.0 Interior Page Styles-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

/*	5.1 [Fonts]  */

/*	5.2 [Layout]  */

#interiorMain {
    clear:both;
	width:100%;}
	
	#sectionalGraphic {		
	    border-bottom:5px solid #D11241;
		clear:both;
		height:157px;
		margin:0px 0px 0px 4px;
		padding:0px 0px 9px 0px;
		width:900px;}
			
		#sectionalGraphic img {
			float:left;
			display:block;}
			
        /* =-=-=-=-= CAREERS SLIDESHOW =-=-=-=-= */

        #sectionalGraphic table.careerSlide {
            width:100%;}
    
            #sectionalGraphic table.careerSlide td img {}
        
            #sectionalGraphic table.careerSlide td p {padding:0px;}
    
            #sectionalGraphic table.careerSlide td.careerSlideText {
                color:#003E7E;
                padding:8px 8px 8px 15px;
                font-size:140%;}

    #interiorColumns {
	    background:url(images/interior_columns_bg.gif) 195px 0px repeat-y;
	    clear:both;
	    margin:16px 0px 0px 0px;
	    width:100%;}
	
	    #leftNav {
		    float:left;
		    margin:0px 0px 0px 4px;
		    width:181px;}
		
		    #leftNav table {
			    width:100%;}	
		
	    #main {
		    float:right;
		    display:inline;
		    min-height:300px;
		    height:auto !important;
		    height:300px;
		    margin:0px 0px 0px 0px;
		    width:694px;}
	
		    #content {
			    padding:14px 15px 0px 0px;}
			    
			    #content table {
			        margin:0px 0px 15px 0px;}
		
			    #content ul {
				    margin:0px 0px 5px 17px;}
				
				    #content ul li {
					    background: url(images/int_list.gif) 0px 5px no-repeat;
					    padding:0px 0px 7px 14px;}
					
				    #content ul ul {
					    margin:0px 0px 0px 15px;}
					
					    #content ul ul li {
						    background: url(images/int_list.gif) 0px 5px no-repeat;
					        padding:0px 0px 7px 14px;}

			    #content ol {
				    margin:0px 0px 12px 30px;}

				    #content ol li {
					    list-style:decimal;
					    padding:0px 0px 7px 0px;}
						
.solutions_table {
	border: 1px solid #CCCCCC;
	padding: 10px 10px 20px 10px;}
				
/* 5.3 =-=-=-=-=-=-=-=-=-=-=-=-Library Styles-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

/*	5.4 [Fonts]  */
		
/*	5.5 [Layout]  */

	td#library {
		padding:60px 0px 0px 0px;
		width:148px;}

/*	6.0 LeftNav Item Styles-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

#leftNav td.leftnav-lvl1-on {
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	color:#003E7E;
	font-weight:bold;
	padding:9px 10px 9px 2px;
	vertical-align:top;}
	
#leftNav td.leftnav-lvl1-off {
	color:#666666;
	padding:9px 10px 9px 2px;
	vertical-align:top;}
	
#leftNav td.leftnav-lvl1-on a {color:#003E7E;text-decoration:none;}
#leftNav td.leftnav-lvl1-on a:hover {color:#003E7E;text-decoration:underline;}
	
#leftNav td.leftnav-lvl1-off a {color:#666666;text-decoration:none;}
#leftNav td.leftnav-lvl1-off a:hover {color:#666666;text-decoration:underline;}

#leftNav td.leftnav-lvl2-on {
	background:url(images/leftnav_lvl2_on.gif) 0px 12px no-repeat;
	color:#003E7E;
	font-size:90%;
	font-weight:bold;
	padding:8px 10px 8px 22px;
	vertical-align:top;}
	
#leftNav td.leftnav-lvl2-off {
	background:url(images/leftnav_lvl2_off.gif) 0px 12px no-repeat;
	color:#666666;
	font-size:90%;
	padding:8px 10px 8px 22px;
	vertical-align:top;}
	
#leftNav td.leftnav-lvl2-on a {color:#003E7E;text-decoration:none;}
#leftNav td.leftnav-lvl2-on a:hover {color:#003E7E;text-decoration:underline;}
	
#leftNav td.leftnav-lvl2-off a {color:#666666;text-decoration:none;}
#leftNav td.leftnav-lvl2-off a:hover {color:#666666;text-decoration:underline;}

#leftNav td.leftnav-lvl3-on {
	background:url(images/leftnav_lvl3_on.gif) 41px 10px no-repeat;
	color:#003E7E;
	font-size:90%;
	font-weight:bold;
	padding:5px 22px 5px 48px;
	vertical-align:top;}
	
#leftNav td.leftnav-lvl3-off {
	background:url(images/leftnav_lvl3_off.gif) 41px 10px no-repeat; 
	color:#666666;
	font-size:90%;
	padding:5px 22px 5px 48px;
	vertical-align:top;}

#leftNav td.leftnav-lvl3-on a {color:#003E7E;text-decoration:none;}
#leftNav td.leftnav-lvl3-on a:hover {color:#003E7E;text-decoration:underline;}

#leftNav td.leftnav-lvl3-off a {color:#666666;text-decoration:none;}
#leftNav td.leftnav-lvl3-off a:hover {color:#666666;text-decoration:underline;}

/*	7.0 TopNav Styles-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.RadMenu_Default .group .link  /* 1st level off cell */ {
	padding:4px 20px 4px 10px;
	color: #FEFEFE;
	text-align: left;
	white-space:normal;
	width:150px;}

.RadMenu_Default .group .group .link  /* 2nd level off cell */ {
	padding:4px 20px 4px 10px;
	color: #FEFEFE;
	text-align: left;
	white-space:normal;
	width:150px;}

.RadMenu_Default .link,
.RadMenu_Default .link:visited /* off text */ {
	
	cursor:pointer;
	text-decoration:none;}

.RadMenu_Default .group .link:hover,
.RadMenu_Default .group .focused,
.RadMenu_Default .group .expanded /* 1st level on cell*/ {
	background-color:#B3C5D9;
	color: #003E7E;
	padding:4px 20px 4px 10px;
	text-align:left;
	white-space:normal;
	width:150px;}

.RadMenu_Default .group .group .link:hover,
.RadMenu_Default .group .group .focused,
.RadMenu_Default .group .group .expanded /* 2nd level on cell*/ {
	background-color:#B3C5D9;
	color: #003E7E;
	padding:4px 20px 4px 10px;
	text-align:left;
	white-space:normal;
	width:150px;}

.RadMenu_Default .link:hover,
.RadMenu_Default .link:visited:hover,
.RadMenu_Default .focused,
.RadMenu_Default .expanded /* on text */ {
	
	cursor:pointer;
	text-decoration:none;}

.RadMenu_Default .group   /* whole dropdown */ {
	background-color:#003E7E;
	border-top:1px solid #172C43;
	border-left:5px solid #003E7E;
	border-right:1px solid #003E7E;
	border-bottom:1px solid #003E7E;}

.RadMenu_Default {}

.RadMenu_Default_Context {
	background: none;}

.RadMenu_Default .text {
	padding-left: 0px;	
	padding-right: 0px;}

.RadMenu_Default .text:hover {
	padding-left: 0px;	
	padding-right: 0px;}

/*.slide  use this style to add a top or bottom curve to a dropdown  {
	background: url(images/topnav_btm.gif) center bottom no-repeat;
	padding-bottom:6px;}*/

/* =-=-=-=-=-=-=-=-=-=-=-=-Form Styles-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.form {
    font-size:100%;
    margin:1px;}
    
.form-label {
    font-weight:bold;}
    
.form-button {}

.form-textbox {
    font-size:100%;
    color:#000000;
    border:1px solid #B3A892;}
    
.red-star {
    font-size:100%;
    color:#FF0000;}

.alert {
    font-size:100%;
    color:#FF0000;}
    
/* =-=-=-=-=-=-=-=-=-=-=-=-Sitemap Styles-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

#sitemap td {
    padding:8px 5px;}
    
    #sitemap td.table-header-app {
        padding:10px;}
        
     #sitemap td.sitemap-row {
         padding-left:15px;}
         
     #sitemap td.sitemap-row-indented {
         padding-left:30px;}